
@{
    ViewBag.Title = "UserAbout";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<h4>About</h4>
<hr />

<div class="row">
    <div class="col-6">
        <div class="card card-body">
            <h5>Thônd tin dịch vụ</h5>
            <div>
                <i class="fas fa-flag"></i>
                <span>đã mở ngày 13 tháng 3 năm 2022</span>
            </div>
            <div>
                <i class="fas fa-brain"></i>
                <span>Nhiệm vụ</span>
                <p>cung cấp cho bạn dịch vụ quản lí thư viện tân tiến nhất.</p>
            </div>
        </div>
        <br />
        <div class="card card-body">
            <h5>Gặp gỡ chúng tôi</h5>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Nguyễn Trọng Đạt</span>
            </div>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Nguyễn Quang Sơn</span>
            </div>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Bùi Thu Hà</span>
            </div>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Nguyễn Thị Mai Hoa</span>
            </div>
            <div>
                <i class="fas fa-user-cog"></i>
                <span>Đinh Khắc Lam Trường</span>
            </div>
        </div>

    </div>
    <div class="col">
        <img style="width:100%; height:332px; object-fit: cover;" src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
</div>
<br />


